[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
	branch = pyro
[submodule "sources/meta-tq"]
	path = sources/meta-tq
	url = ../meta-tq.git
	branch = morty
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = pyro
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://git.yoctoproject.org/git/meta-freescale
	branch=pyro
[submodule "sources/meta-freescale-distro"]
	path = sources/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro.git
	branch=pyro
